@media(max-width:1199px) and (min-width:992px){

.dropdown  {
    width: 280px;
}
.main_title{
    font-size: 55px;
}
}
@media(max-width:991px) and (min-width:768px){
    .dropdown  {
        width: 280px;
    }
    .main_title{
        font-size: 45px;
    }
    
}
@media(max-width:767px) and (min-width:600px){
   
}
@media(max-width:991px){
   
}
@media(max-width:599px){

}
@media(max-width:767px){
    .main_title{
        font-size: 28px;
    }
    .desc_title .desc{
        font-size: 16px;
        
    }
    .dropdown  {
        width: 280px;
    }
    .input-search .content{
        flex-direction: column;
        justify-content: center;
    
}
.search_input{
    text-align: center;
}
.input-search {
    height: 130px;
}
.submit_btn{
    margin: 0 0 0.8rem 0;
}
    
}

