@media(max-width:1199px) and (min-width:992px){
    .vision .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services .content .grid-container{
       
        grid-template-columns: repeat(2, 1fr);
       
    }
.dropdown  {
    width: 280px;
}
.main_title{
    font-size: 55px;
}
}
@media(max-width:991px) and (min-width:768px){
    .vision .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services .content .grid-container{
       
        grid-template-columns: repeat(2, 1fr);
       
    }
    .dropdown  {
        width: 280px;
    }
    .main_title{
        font-size: 45px;
    }
    
}
@media(max-width:767px) and (min-width:600px){
   
}
@media(max-width:991px){
    .footer .content .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .content .grid-container .col{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer .content .grid-container div{
        width: 100%;
    }
}
@media(max-width:599px){

}
@media(max-width:767px){
    .services .content .grid-container{
       
        grid-template-columns: repeat(1, 1fr);
       
    }
    .vision .grid_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .main_title{
        font-size: 28px;
    }
    .desc_title .desc{
        font-size: 16px;
        
    }
    .dropdown  {
        width: 280px;
    }
    .input-search .content{
        flex-direction: column;
        justify-content: center;
    
}
.search_input{
    text-align: center;
}
.input-search {
    height: 130px;
}
.submit_btn{
    margin: 0 0 0.8rem 0;
}
    
}

