@media(max-width:1199px) and (min-width:992px){
    .vision .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services .content .grid-container,
    .content_result .content .grid-container{
       
        grid-template-columns: repeat(2, 1fr);
       
    }
.dropdown  {
    width: 280px;
}
.main_title{
    font-size: 55px;
}
}
@media(max-width:991px) and (min-width:768px){
    .blog .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .vision .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services .content .grid-container,
    .content_result .content .grid-container{
       
        grid-template-columns: repeat(2, 1fr);
       
    }
    .dropdown  {
        width: 280px;
    }
    .main_title{
        font-size: 45px;
    }
    
}
@media(max-width:767px) and (min-width:600px){
   
}
@media(max-width:991px){
    .content_result {
        background: linear-gradient(to bottom, #1e1e1e00, #272727 1%, #3a3a3a 40%, #383838 100%, #58585800 0% 73%);
    }
    .offplan_projects .main_content .flex_container .col{
        width:100%
    }
    .offplan_projects .main_content .flex_container img{
        object-fit: cover;
    }
    .offplan_projects .main_content .flex_container{
        display: flex
        ;
            gap: 2rem;
            flex-direction: column;
    }
    .offplan_projects .main_content .flex_container img{
        height: max-content;
    }
    .footer .content .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .content .grid-container .col{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer .content .grid-container div{
        width: 100%;
    }
}
@media(max-width:599px){

}
@media(max-width:767px){
    .question .grid_container{
        grid-template-columns: repeat(1, 1fr);

    }
    .question .grid_container .question_container{
        grid-column: span 1;
    }
    .content_result .col.only_search_result.new_villa .images_explain{
        position: relative;
        padding-top: 13rem;
    }
    .blog .grid-container .blog_2_box.col{
        min-height: 420px;
    }
    .blog .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog .grid-container .blog_2_box.col{
        grid-column: span 1;
    }
    .team .swiper-slide{
        width:300px
    }
    .team .icons img{
        width:44px
    }
    .team .img_container{
        width:150px
    }
    .services .content .grid-container,
    .content_result .content .grid-container{
       
        grid-template-columns: repeat(1, 1fr);
       
    }
    .vision .grid_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .main_title{
        font-size: 28px;
    }
    .desc_title .desc{
        font-size: 16px;
        
    }
    .dropdown  {
        width: 280px;
    }
    .input-search .content{
        flex-direction: column;
        justify-content: center;
    
}
.search_input{
    text-align: center;
}
.input-search {
    height: 130px;
}
.submit_btn{
    margin: 0 0 0.8rem 0;
}
    
}

